<nav class="topbar">
  <div class="logo">
    <%= link_to root_path do %>
      <%= image_tag 'logo.png' %>
    <% end %>
  </div>

  <div class="language-select">
    <%= locale_control :en %>
    <%= locale_control :fr %>
  </div>

  <div class="button-container">
    <ul>
      <li><%= link_to t('client_login_name'), new_client_session_path %></li>

      <li><%= link_to t('contact_us_name'), contact_path %></li>

      <li><%= link_to t('about_us_name'), about_path %></li>

      <li class="dropdown">
        <%= link_to t('our_products_name'), products_path %>

        <ul>
          <% Category.all.each do |category| %>
            <li><%= link_to t(category.name), category_path(category) %></li>
          <% end %>
        </ul>
      </li>
    </ul>
  </div>
</nav>
