<nav class="topbar">
  <div class="logo">
    <%= link_to root_path do %>
      <%= image_tag 'logo.png' %>
    <% end %>
  </div>

  <div class="button-container">
    <ul>
      <li><a href="#">Client Login</a></li>

      <li><a href="#">Contact Us</a></li>

      <li><%= link_to about_path do %>About Us<% end %></li>

      <li class="dropdown">
        <%= link_to "Our Products", products_path %>

        <ul>
          <% Category.all.each do |category| %>
            <li><%= link_to category.name, category_path(category) %></li>
          <% end %>
        </ul>
      </li>
    </ul>
  </div>
</nav>
