<h1 class="title"><%= t('about_us_name') %></h1>
<div class="about-content">
  <p><span><%= t('about_us_intro_bold') %></span>
  <%= t('about_us_intro_normal') %>
  </p>
  <ul>
    <li>
      <%= t('about_us_first') %>
    </li>
    <li>
      <%= t('about_us_second') %>
    </li>
  </ul>
  <p>
  <%= t('about_us_conclusion') %>
  </p>
</div>
