<!DOCTYPE html>
<html>
<head>
  <title>SimpleDream</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%-# Top Bar -%>

<%= render 'shared/topbar' %>

<%-# Main Yield -%>

<div class="content-window">
  <%= yield %>
</div>

</body>
</html>
